.create-post-container {
  width: 100%;

  .create-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid var(--light-grey);
    border-left: none;
    padding: 20px;

    h3 {
      margin-bottom: 20px;
      margin-top: 0;
    }

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    .tweet-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      button {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .create-form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        border: none;
      }

      input:focus {
        outline: none;
      }
    }

    .middle-section {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
