.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .register-form {
    display: flex;
    gap: 10px;
    flex-direction: column;

    input {
      padding: 5px;
    }

    button {
      padding: 5px;
    }
  }
}
