.post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  border: 1px solid black;
  padding: 10px;

  .post-data {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 45px;
      height: 45px;
      border: 1px solid black;
      border-radius: 50%;
    }

    .right-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        color: var(--default-grey);
        font-size: 13px;
      }

      h3 {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      p {
        margin: 0;
      }
    }
  }
}
