.home-container {
  display: grid;
  grid-template-columns: 25% calc(75% / 2) auto;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .post-list-home {
      width: 100%;
    }
  }
}
